{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}} <!-- 범위 내 까지 article을 사용한단 의미 -->
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit" class = "btn btn-primary">EDIT</a>
<!--#article의 id를 가져옴-->

<a href="/articles/{{article.id}}/delete" class = "btn btn-danger">DELETE</a>
<!--delete 버튼 생성, danger로 빨간색으로 변경-->
<!--편의성을 위해 Get방식 a를 사용, 후에 javascript로 DELETE방식으로 함-->
<a href="/articles" class = "btn btn-primary">Go to Article List</a>

{{>comments/_comments}}

{{>layouts/footer}}